/* #twitter {
    left: 0%!important;
}
*/

.twitter {
    color: rgb(131, 197, 214);
}

#twitter-login {
    /* margin-right: 0%; */
    background: var(--bg-color);
    z-index: 2;
    grid-column: 2/3;
    grid-row: 2/10;
}


#twitter-tweet {
    /* margin-right: 0%; */
    grid-row: 2/4;
}

#twitter-tweet-container {
    width: 100%;
    height: 93%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 85% 15%;
    overflow: hidden;
}

#twitter-tweet-container::-webkit-scrollbar {
    display: none;
  }

  #witter-tweet-container-1::-webkit-scrollbar {
    display: none;
  }
  

#twitter-tweet-container-1 {
    overflow-y: auto;
    overflow-x: hidden;
}

#twitter-tweet-container  > .inputarea {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    font-size: 2vh;
}


.twitter-pb-big {
    position: relative;
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 16vh;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.twitter-pb-big > img {
    position: absolute;
    width: 16vh;
    height: 16vh;
    border-radius: 8vh;
    background-size: cover;
    overflow: hidden;
}

/* Home */
/* Tweets */
.twitter-tweet-container {
    min-width: 22vh;
    width: 100%;
    height: auto;
    min-height: 8vh;

    display: flex;
    flex-direction: row;
    gap: 1vh;
    margin-bottom: 1vh;
}

.twitter-tweet-container > img {
    width: 4vh;
    height: 4vh;
    border-radius: 4vh;
}

.twitter-tweet-content {
    width: 80%;
    min-height: 6vh;
    background-color: var(--element-bg-color);
    padding: 1vh;
    border-radius: 1vh;
    overflow: hidden;
    box-shadow: var(--box-shadow) 0px 2px 8px 0px;
}

.twitter-tweet-content-headline {
    width: 100%;
    height: 4vh;
    font-size: 1.75vh;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50% 50%;
    align-items: center;
    white-space: nowrap;
}

.twitter-tweet-content-headline > .name {
    font: 'Roboto';
    font-weight: 400;

    font-size: 1.75vh;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5vh;
}

.twitter-tweet-content-headline > .name > img {
    width: 1.5vh;
    height: 1.5vh;
}

.twitter-tweet-content-headline > .time {
    text-align: right;
    font: 'Roboto';
    font-weight: 400;
    color: var(--quote-color);
    font-size: 0.8em;
}

.twitter-tweet-content-headline > .tagname {
    font: 'Roboto';
    font-weight: 400;
    color: var(--quote-color);
    font-size: 0.8em;
}

.twitter-tweet-content-message {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    width: 100%;
    height: auto;
    font: 'Roboto';
    font-weight: 400;
    font-size: 1.5vh;
    text-align: left;
}

.twitter-tweet-content-message > img {
    width: 100%;
    margin-top: 1vh;
    border-radius: 1vh;
    background-size: contain;
}

.twitter-tweet-content-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}

.twitter-tweet-content-footer > div > i:hover {
    color: var(--accent-color);
    transition: 0.5s;
}

.tweet-comment:hover {
    color: var(--accent-color);
    transition: 0.5s;
}

.tweet-user-followers {
    width: 100%;
    font-size: 2vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.tweet-user-followers > div {
    margin-top: 1vh;
    background-color: var(--element-bg-color);
    padding: 1vh;
    border-radius: 1vh;
    overflow: hidden;
    box-shadow: var(--box-shadow) 0px 2px 8px 0px;
    padding: 1vh;
}

.tweet-user-followers > div > h2 {
    font-size: 2vh;
    margin-top: 0vh;
    margin-bottom: 0vh;
}

.tweet-user-followers > div > h3 {
    font-size: 1.5vh;
    margin-top: 0vh;
    margin-bottom: 0vh;
}

/* Follower */
.twitter-follower-container {
    min-width: 22vh;
    width: 100%;
    height: auto;
    min-height: 6vh;
    background-color: var(--element-bg-color);
    box-shadow: var(--box-shadow) 0px 2px 8px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 1vh;
    align-items: center;
    gap: 1vh;
    margin-bottom: 1vh;
    padding: 1vh;
}

.twitter-follower-container > img {
    width: 4vh;
    height: 4vh;
    border-radius: 4vh;
}