:root {
  --bg-color: #f3f3f7;
  --element-bg-color: #fefffe;

  --element-bg-color2: #ffffff;
  --element-bg-colorh: #fafafa;
  --elementcoloropacity: rgba(255, 255, 255, 0.9);
  --elementcoloropacity-strong: rgba(255, 255, 255, 0.5);
  --elementcoloropacityh: rgba(240, 240, 240, 0.9);
  --darkelement-bg-color: rgb(33, 33, 33);
  --darkelement-bg-colorh: rgb(50, 50, 50);
  --font-color: #000000;
  --header-color: #000000;

  --notification-bg: rgba(255, 255, 255, 0.8);

  --accent-color: #4a4cf6;
  --accent-colorh: #4042d8;
  --me-color: #e6f2ff;
  --me-colorh: #d9e4f1;
  --me-element-color: #d9ebff;
  --me-element-colorh: #ccddf0;
  --new-color: #fffadd;
  --new-colorh: #f6eebd;

  --quote-color: #474747;
  --yellow-color: #efda3e;
  --yellow-colorh: #dbc839;
  --red-color: #bb3838;
  --red-colorh: #a43030;
  --beige-color: #bfae79;
  --beige-colorh: #d1bd82;
  --green-color: #3ca84e;
  --green-colorh: #45ba59;
  --blue-color: #3c7fa8;
  --blue-colorh: #4576ba;

  --box-shadow: rgba(99, 99, 99, 0.2);
  --box-shadow-light: rgba(99, 99, 99, 0.1);

  --info: rgb(85, 113, 215);
  --error: rgb(218, 65, 65);
  --warning: rgb(255, 151, 40);
  --success: rgb(98, 160, 103);
  --radio: rgb(20, 58, 130);
  --broker: rgb(29, 29, 29);
  --groupchat: #e4da7c;
  --car-color: #7d8bce;
  --services-color: #2664eb;

  --policebgcolor: #ffcdcd;
  --ambulancebgcolor: #e9f3ff;

  /* garage */
  --grey-color: rgb(195, 195, 195);
  --grey-colorh: rgb(184, 184, 184);

  --example: rgb(115, 91, 209);
  --classic: rgb(255, 203, 131);
  --compacts: rgb(255, 131, 131);
  --coupes: rgb(221, 147, 124);
  --motorcycle: rgb(131, 199, 255);
  --muscle: rgb(218, 255, 131);
  --offroad: rgb(157, 132, 103);
  --sedans: rgb(148, 198, 150);
  --sport: rgb(115, 91, 209);
  --sportsclassics: rgb(129, 129, 129);
  --supersport: rgb(156, 131, 255);
  --suv: rgb(255, 183, 131);
  --vans: rgb(225, 140, 170);
  --police: rgb(15, 68, 111);
  --Industrial: rgb(19, 41, 59);
  --cycles: rgb(104, 157, 163);
  --boats: rgb(33, 137, 223);
  --helicopters: rgb(133, 208, 216);
  --planes: rgb(107, 140, 168);
  --commercial: rgb(58, 138, 109);

  --unlock: #97dbaf;
  --lock: #db6b67;
  --waypoint: #81b0db;
  --window: #dbb16b;
  --door: #8ecac6;
  --light: #dbdf8a;
  --horn: #be97d9;

  --diff: 0, 0, 0;

  --spotify-theme-color: rgba(194, 214, 193, 1);
  --spotify-theme-color2: rgb(231, 235, 230);
}

html[data-theme='white'] {
  --bg-color: #f3f3f7;
  --element-bg-color: #fefffe;

  --element-bg-color2: #ffffff;
  --element-bg-colorh: #fafafa;
  --elementcoloropacity: rgba(255, 255, 255, 0.9);
  --elementcoloropacityh: rgba(240, 240, 240, 0.9);
  --elementcoloropacity-strong: rgba(255, 255, 255, 0.5);
  --darkelement-bg-color: rgb(33, 33, 33);
  --darkelement-bg-colorh: rgb(50, 50, 50);
  --font-color: #000000;

  --notification-bg: rgba(255, 255, 255, 0.8);

  --accent-color: #4a4cf6;
  --accent-colorh: #4042d8;
  --me-color: #e6f2ff;
  --me-colorh: #d9e4f1;
  --me-element-color: #d9ebff;
  --me-element-colorh: #ccddf0;
  --new-color: #fffadd;
  --new-colorh: #f6eebd;

  --quote-color: #474747;
  --yellow-color: #efda3e;
  --yellow-colorh: #dbc839;
  --red-color: #bb3838;
  --red-colorh: #a43030;
  --beige-color: #bfae79;
  --beige-colorh: #d1bd82;
  --green-color: #3ca84e;
  --green-colorh: #45ba59;

  --box-shadow: rgba(99, 99, 99, 0.2);

  --info: rgb(85, 113, 215);
  --error: rgb(218, 65, 65);
  --warning: rgb(255, 151, 40);
  --success: rgb(98, 160, 103);
  --radio: rgb(20, 58, 130);
  --broker: rgb(29, 29, 29);
  --groupchat: #e4da7c;

  --policebgcolor: #ffcdcd;
  --ambulancebgcolor: #e9f3ff;
  --darkchat-color: #2c4e2b;
  --car-color: #7d8bce;
  --services-color: #2664eb;
  /* garage */
  --grey-color: rgb(195, 195, 195);
  --grey-colorh: rgb(184, 184, 184);

  --example: rgb(115, 91, 209);
  --classic: rgb(255, 203, 131);
  --compacts: rgb(255, 131, 131);
  --coupes: rgb(221, 147, 124);
  --motorcycle: rgb(131, 199, 255);
  --muscle: rgb(218, 255, 131);
  --offroad: rgb(157, 132, 103);
  --sedans: rgb(148, 198, 150);
  --sport: rgb(115, 91, 209);
  --sportsclassics: rgb(129, 129, 129);
  --supersport: rgb(156, 131, 255);
  --suv: rgb(255, 183, 131);
  --vans: rgb(225, 140, 170);
  --police: rgb(15, 68, 111);
  --Industrial: rgb(19, 41, 59);
  --cycles: rgb(104, 157, 163);
  --boats: rgb(33, 137, 223);
  --helicopters: rgb(133, 208, 216);
  --planes: rgb(107, 140, 168);
  --commercial: rgb(58, 138, 109);

  --unlock: #97dbaf;
  --lock: #db6b67;
  --waypoint: #81b0db;
  --window: #dbb16b;
  --door: #8ecac6;
  --light: #dbdf8a;
  --horn: #be97d9;
  --diff: 0, 0, 0;

  --spotify-theme-color: rgba(194, 214, 193, 1);
  --spotify-theme-color2: rgb(231, 235, 230);
}

html[data-theme='dark'] {
  --bg-color: #000000;
  --element-bg-color: #252728;
  --element-bg-color2: #2b2d2e;
  --element-bg-colorh: #313334;
  --elementcoloropacity: rgba(25, 25, 25, 0.9);
  --elementcoloropacityh: rgba(10, 10, 10, 0.9);
  --elementcoloropacity-strong: rgba(10, 10, 10, 0.5);
  --darkelement-bg-color: rgb(241, 241, 241);
  --darkelement-bg-colorh: rgb(228, 228, 228);
  --font-color: #f2f2f2;

  --notification-bg: rgba(0, 0, 0, 0.8);

  --accent-color: #9799f5;
  --accent-colorh: #9596e7;
  --me-color: #3f4576;
  --me-colorh: #445b79;
  --me-element-color: #353b64;
  --me-element-colorh: #32375d;
  --new-color: #dbcb6e;
  --new-colorh: #c0b160;

  --quote-color: #dbdbdb;
  --yellow-color: #ede07b;
  --yellow-colorh: #d9cd77;
  --red-color: #d75959;
  --red-colorh: #c15050;
  --beige-color: #bfae79;
  --beige-colorh: #d1bd82;
  --green-color: #6add7d;
  --green-colorh: #5cbd6c;

  --box-shadow: rgba(0, 0, 0, 0.2);

  --info: rgb(174, 190, 246);
  --error: rgb(245, 120, 120);
  --warning: rgb(250, 178, 100);
  --success: rgb(131, 199, 163);
  --radio: rgb(114, 160, 245);
  --broker: rgb(236, 236, 236);
  --groupchat: #fff597;

  --policebgcolor: #060709;
  --ambulancebgcolor: #e9f3ff;
  --darkchat-color: #cae9ca;
  --car-color: #9ea6cd;
  --services-color: #2664eb;
  /* garage */
  --grey-color: rgb(233, 233, 233);
  --grey-colorh: rgb(231, 231, 231);

  --example: rgb(171, 160, 212);
  --classic: rgb(255, 203, 131);
  --compacts: rgb(255, 131, 131);
  --coupes: rgb(221, 147, 124);
  --motorcycle: rgb(148, 183, 211);
  --muscle: rgb(186, 218, 113);
  --offroad: rgb(143, 128, 111);
  --sedans: rgb(177, 225, 179);
  --sport: rgb(171, 160, 212);
  --sportsclassics: rgb(129, 129, 129);
  --supersport: rgb(129, 108, 212);
  --suv: rgb(230, 183, 149);
  --vans: rgb(225, 140, 170);
  --police: rgb(15, 68, 111);
  --Industrial: rgb(36, 57, 75);
  --cycles: rgb(104, 157, 163);
  --boats: rgb(91, 154, 206);
  --helicopters: rgb(134, 189, 195);
  --planes: rgb(128, 159, 187);
  --commercial: rgb(96, 162, 138);

  --unlock: #80b491;
  --lock: #bb645e;
  --waypoint: #759abc;
  --window: #b39b73;
  --door: #77b5af;
  --light: #b0b577;
  --horn: #9377b5;

  --diff: 255, 255, 255;

  --spotify-theme-color: #88b276;
  --spotify-theme-color2: #141f0f;
}

.phone-app-new {
  position: absolute;
  left: -100%;
  top: 0%;

  background-color: var(--bg-color);
  color: var(--font-color);

  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 8% 80% 7%;
  grid-template-columns: 5% 90% 5%;

  padding: none;
  margin: none;

  overflow: hidden;
}

.centergrid {
  grid-column: 2;
}

.phone-app-headline-new {
  grid-row: 1;
  align-self: center;
  font-size: 3.5vh;
  /* font-family: 'PoppinsSemiBold'; */
  font-weight: 400;
  white-space: nowrap;
  display: grid;
  grid-template-columns: 85% 15%;
}

.phone-app-headline-new > i {
  font-size: 1.75vh;
  align-self: center;
  justify-self: center;
  margin-bottom: 1vh;
  color: var(--accent-color);
  transition: 0.5s;
}

.phone-app-headline-new > i:hover {
  color: var(--accent-colorh);
  transition: 0.5s;
}

.phone-app-headline-new > svg {
  /* height: 3vh; */
}

.phone-app-content-new {
  grid-row: 2;
  align-self: top;
  overflow-y: auto;
  margin-right: 100%;
}

.phone-app-content-new::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.phone-app-content-new {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.input-selection-area {
  /* display: none!important; */
  position: absolute;
  left: 5%;
  bottom: -80%;
  width: 90%;
  height: auto;

  z-index: 9;

  display: grid;
  grid-template-rows: auto 6vh;
  grid-template-columns: 100%;

  align-items: center;
  justify-items: center;

  font-size: 2vh;
}

.input-selection-area-element {
  width: 100%;
  border-radius: 1vh;
  background-color: var(--element-bg-color2);
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;
  color: var(--font-color);
  overflow: hidden;
}

.input-selection-area-element > div {
  height: 6vh;
  line-height: 6vh;
  text-align: left;
  padding-left: 2vh;
  font-size: 2vh;
  width: 100%;
  font-family: 'Roboto';
  border-bottom: 0.1vh solid var(--bg-color);
  /* background-color: #4042d8; */
}

.input-selection-area-element > div > i {
  margin-right: 0.5vh;
  color: var(--accent-color);
  font-size: 2vh;
}

.input-selection-area-element > div:hover {
  background-color: var(--element-bg-colorh);
  transition: 0.5s;
}

.input-selection-area-cancel {
  height: 100%;
  width: 100%;
  line-height: 6vh;
  text-align: center;
  border-radius: 1vh;
  background-color: var(--element-bg-color2);
  color: var(--accent-color);
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;
  margin-top: 1vh;
}

.input-selection-area-cancel:hover {
  background-color: var(--element-bg-colorh);
  border-radius: 1vh;
  transition: 0.5s;
}

.input-selection-area {
  /* display: none!important; */
  position: absolute;
  left: 5%;
  bottom: -50%;
  width: 90%;
  height: auto;

  z-index: 9;

  display: grid;
  grid-template-rows: auto 6vh;
  grid-template-columns: 100%;
  grid-gap: 1vh;

  align-items: center;
  justify-items: center;

  font-size: 2vh;
}

.input-selection-area-element {
  width: 100%;
  border-radius: 1vh;
  background-color: var(--element-bg-color2);
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;

  overflow: hidden;
}

.input-selection-area-element > div {
  height: 6vh;
  line-height: 6vh;
  text-align: left;
  padding-left: 2vh;
  font-size: 2vh;
  width: 100%;
  border-bottom: 0.1vh solid var(--element-bg-color2);
  /* background-color: #4042d8; */
}

.phone-app-input-element {
  background-color: var(--element-bg-color);

  width: 100%;
  min-height: 5vh;
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;

  border-radius: 1vh;

  padding: 1vh;
  font-size: 1.75vh;
  font-family: 'Roboto';
  align-items: center;

  outline: none;
  border: none;
  margin-bottom: 1vh;
  white-space: nowrap;
  overflow: hidden;
}

.biggerbutton {
  background-color: var(--element-bg-color);

  width: 100%;
  min-height: 6vh;
  line-height: 4vh;
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;

  border-radius: 1vh;

  padding: 1vh;
  font-size: 1.75vh;
  font-family: 'Roboto';
  font-weight: 600;

  text-align: center;

  outline: none;
  border: none;
  margin-bottom: 1vh;
  white-space: nowrap;
  overflow: hidden;
}

.input-selection-area-element > div > i {
  margin-right: 0.5vh;
  color: var(--accent-color);
  font-size: 2vh;
}

.input-selection-area-element > div:hover {
  background-color: var(--element-bg-colorh);
  transition: 0.5s;
}

.input-selection-area-cancel {
  height: 100%;
  width: 100%;
  line-height: 6vh;
  text-align: center;
  border-radius: 1vh;
  background-color: var(--element-bg-color2);
  color: var(--accent-color);
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;
}

.input-selection-area-cancel:hover {
  background-color: var(--element-bg-colorh);
  border-radius: 1vh;
  transition: 0.5s;
}

.backgroundlayer {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: var(--element-bg-color);
  opacity: 0.9;

  z-index: 2;
}

.censorlayer {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: var(--element-bg-color);
  opacity: 0.9;
  z-index: 0;
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

.input-url-area {
  display: none;
  position: absolute;
  left: 5%;
  bottom: -70%;
  width: 90%;
  height: auto;

  z-index: 10;

  display: grid;
  grid-template-rows: auto 6vh 6vh;
  grid-gap: 1vh;
  grid-template-columns: 100%;

  align-items: center;
  justify-items: center;

  font-size: 2vh;
}

.input-url-area-headline {
  text-align: center;
  width: 100%;
  background-color: var(--element-bg-colorh) !important ;
  border-bottom: 0.1vh solid var(--bg-color);
  padding-right: 2vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

.input-url-area-headline > div > i {
  /* margin-right: 0.5vh; */
  color: var(--accent-color);
  font-size: 1.2em;
}

.input-url-area-headline:hover {
  background-color: var(--element-bg-color);
}

.input-url-area > .input-selection-area-element > div > input {
  border: none;
  outline: none;
  background-color: var(--element-bg-color2);
  /* background-color: #000000; */
}

.input-url-area > .input-selection-area-element > div > input:hover {
  background-color: var(--element-bg-colorh);
  transition: 0.5s;
}

.input-url-area > .input-selection-area-element > div > input:active {
  background-color: var(--element-bg-colorh);
  transition: 0.5s;
}

input.apple-switch {
  position: relative;
  appearance: none;
  outline: none;
  width: 50px;
  height: 25px;
  background-color: #ffffff;
  border: 1px solid #d9dadc;
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 #ffffff;
  transition: 0.2s;
  outline: none !important;
}

input.apple-switch:focus {
  /* border: none; */
  outline: none !important;
}

input.apple-switch:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  outline: none !important;
}

input.apple-switch:checked {
  border-color: #4ed164;
  box-shadow: inset 25px 0 0 0 #4ed164;
}

input.apple-switch:checked:after {
  left: 26px;
  /* box-shadow: -1px 2px 0px rgba(0,0,0,0.05); */
}

.red {
  background-color: var(--red-color) !important;
  color: white !important;
}

.red:hover {
  background-color: var(--red-colorh) !important;
  color: white !important;
  transition: 0.5s !important;
}

.green {
  background-color: var(--green-color);
  color: white;
}

.green:hover {
  background-color: var(--green-colorh);
  color: white;
  transition: 0.5s;
}

.blue {
  background-color: var(--blue-color);
  color: white;
}

.blue:hover {
  background-color: var(--blue-color);
  color: white;
  transition: 0.5s;
}

.redcolor {
  color: var(--red-color) !important;
}

.redcolor:hover {
  color: var(--red-colorh) !important;
  transition: 0.5s;
}

.beigecolor {
  color: var(--beige-color) !important;
}

.greencolor {
  color: var(--green-color) !important;
}

.greencolor:hover {
  color: var(--green-colorh) !important;
  transition: 0.5s;
}

.phone-app-searchbarform-new {
  background-color: var(--element-bg-color);

  width: 100%;
  height: 5vh;
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;

  border-radius: 1vh;

  margin-bottom: 1vh;
}

.phone-app-searchbarform-input-new {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  line-height: 5vh;
  border-radius: 1vh;

  padding-left: 1vh;
  padding-right: 1vh;
  background: var(--element-bg-color);
  color: var(--font-color);
  font-size: 1.75vh;
}

.phone-app-underheadline {
  font-family: 'Roboto';
  font-size: 2vh;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
}

.phone-app-mediumheadline {
  font-family: 'RobotoMedium';
  font-size: 2vh;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
}

.phone-app-big2headline {
  font-family: 'RobotoMedium';
  font-size: 4vh;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
}

.phone-app-bigheadline {
  font-family: 'RobotoMedium';
  font-size: 2.5vh;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
}

.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0.5vh;
}

.phone-app-bigheadline > img {
  width: 2.25vh;
  height: 2.25vh;
}

.phone-app-smallheadline {
  font-family: 'RobotoMedium';
  font-size: 1.7vh;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
}

.phone-app-smallparagraph {
  font-family: 'Roboto';
  font-size: 1.5vh;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
}

.phone-app-splitheadline {
  font-family: 'RobotoMedium';
  font-size: 2vh;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;

  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 70% 30%;
  align-items: center;
  align-content: center;
}

.phone-app-splitheadline > div:last-of-type {
  font-size: 1.5vh;
  justify-self: flex-end;
}

.phone-app-splitheadline > div:last-of-type:hover {
  color: var(--accent-color);
  transition: 0.5s;
}

.phone-app-text {
  font-family: 'Roboto';
  font-size: 1.7vh;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
}

.phone-app-text:hover {
  text-decoration: none;
}

.phone-app-icon-element {
  transition: 0.5s;

  min-height: 5vh;
  line-height: 2.5vh;
  font-size: 2vh;
  padding: 1vh;
  width: 100%;
  background-color: var(--element-bg-color);
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;
  border-radius: 1vh;
  color: var(--font-color);
  font-family: 'Roboto';
  font-weight: 400;

  display: grid;
  grid-template-columns: 17% 83%;
  grid-template-rows: 100%;
  align-items: center;

  margin-bottom: 1vh;

  white-space: nowrap;
  overflow: hidden;
}

.phone-app-icon-element:hover {
  transition: 0.5s;
  background-color: var(--element-bg-colorh);
}

.phone-app-icon-element > i {
  text-align: center;
  font-size: 1.1em;
  color: var(--accent-color);
}

.phone-app-icon-element > img {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  width: 3vh !important;
  height: 3vh !important;
  align-self: center;
  justify-self: center;
  border-radius: 1vh;
  overflow: hidden;
  background-size: contain;
  color: var(--accent-color);
  background-color: none;
  background: none;
}

.phone-app-content-new > h2 {
  font-size: 2.5vh;
}

.phone-app-element {
  transition: 0.5s;

  height: 5vh;
  line-height: 5vh;
  outline: none;
  border: none;
  font-size: 2vh;
  width: 100%;
  background-color: var(--element-bg-color);
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;
  border-radius: 1vh;

  font-family: 'Roboto';
  font-weight: 400;
  padding: 0vh 1vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;

  margin-bottom: 1vh;

  white-space: nowrap;
  overflow: hidden;
}

.phone-app-element:hover {
  transition: 0.5s;
  background-color: var(--element-bg-colorh);
}

.phone-app-element-flex {
  transition: 0.5s;

  min-height: 5vh;
  line-height: 3vh;

  font-size: 2vh;
  width: 100%;
  background-color: var(--element-bg-color);
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;
  border-radius: 1vh;

  font-family: 'Roboto';
  font-weight: 400;
  padding: 1vh 1vh;

  align-items: center;

  margin-bottom: 1vh;

  overflow: hidden;
}

.phone-app-element-flex > .headline {
  line-height: 2vh;
  width: 100%;
  text-align: center;
  font-size: 2vh !important;
  height: 2vh !important;
  padding: 0vh !important;
  margin: 0 !important;
  font-family: 'RobotoMedium';
}

.phone-app-element:hover {
  transition: 0.5s;
  background-color: var(--element-bg-colorh);
}

.phone-app-split-element {
  transition: 0.5s;

  height: 5vh;
  line-height: 5vh;
  outline: none;
  border: none;
  font-size: 2vh;
  width: 100%;
  background-color: var(--element-bg-color);
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;
  border-radius: 1vh;

  font-family: 'Roboto';
  font-weight: 400;
  padding: 0vh 1vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1vh;

  white-space: nowrap;
  overflow: hidden;
}

.phone-app-split-element:hover {
  transition: 0.5s;
  background-color: var(--element-bg-colorh);
}

.margin-top-1 {
  margin-top: 1vh;
}

.margin-top-2 {
  margin-top: 2vh;
}

.margin-top-3 {
  margin-top: 3vh;
}

.margin-top-5 {
  margin-top: 5vh;
}

.margin-bottom-0n5 {
  margin-bottom: 0.5vh;
}

.margin-bottom-1 {
  margin-bottom: 1vh;
}

.margin-bottom-2 {
  margin-bottom: 2vh;
}

.margin-bottom-3 {
  margin-bottom: 3vh;
}

.margin-bottom-5 {
  margin-bottom: 5vh;
}

.text-align-center {
  text-align: center !important;
}

.text-align-right {
  text-align: right !important;
}

.font-size-1n5 {
  font-size: 1.5vh !important;
}

.font-size-2 {
  font-size: 2vh !important;
}

input.inputnew {
  background-color: var(--element-bg-color);
  width: 100%;
  height: 5vh;

  font-family: 'RobotoMedium' !important;
  font-size: 1.75vh !important;
  font-weight: 400;

  border: none;
  outline: none;
  padding-left: 1vh;
  padding-right: 1vh;
  border-radius: 1vh;
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;
}
input[type='color'] {
  background-color: var(--element-bg-color);
  width: 100%;
  height: 5vh;
  font-family: 'RobotoMedium' !important;
  font-size: 1.75vh !important;
  font-weight: 400;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  border-radius: 1vh;
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 1vh;
}

button {
  background-color: var(--element-bg-color);
  width: 100%;
  min-height: 5vh;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;

  font-family: 'RobotoMedium' !important;
  font-size: 2.5vh !important;
  font-weight: 400;

  border: none;
  outline: none;
  padding-left: 1vh;
  padding-right: 1vh;
  border-radius: 1vh;
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;
}

.phone-app-splittext {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  justify-content: center;
}

.phone-app-checkbox-element {
  transition: 0.5s;

  height: 5vh;

  padding-left: 1vh;
  padding-right: 1vh;
  font-size: 1.75vh;
  width: 100%;
  background-color: var(--element-bg-color);
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;
  border-radius: 1vh;

  font-family: 'Roboto';
  font-weight: 400;

  display: grid;
  grid-template-columns: 85% 15%;
  grid-column-gap: 0%;
  grid-template-rows: 100%;

  align-items: center;

  margin-bottom: 1vh;

  white-space: nowrap;
  overflow: hidden;
}

.phone-app-checkbox-element > .checkbox {
  width: 2.5vh;
  height: 2.5vh;
  border: 0.3vh solid var(--font-color);
  border-radius: 0.7vh;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0vh;

  transition: 0.3s;
  padding-top: 0.08vh;
}

.phone-app-checkbox-element > .checkbox.checked {
  font-size: 1.8vh;
  transition: 0.3s;
  border-color: var(--accent-color);
  color: var(--font-color);
}

.phone-app-checkbox-element > .checkbox > i {
  font-weight: 800;
}

.phone-app-checkbox-element-withicon {
  transition: 0.5s;

  height: 5vh;

  padding-left: 1vh;
  padding-right: 1vh;
  font-size: 1.75vh;
  width: 100%;
  background-color: var(--element-bg-color);
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;
  border-radius: 1vh;

  color: var(--font-color);

  font-family: 'Roboto';
  font-weight: 400;

  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-column-gap: 0%;
  grid-template-rows: 100%;

  align-items: center;

  margin-bottom: 1vh;

  white-space: nowrap;
  overflow: hidden;
}

.phone-app-checkbox-element-withicon > i {
  align-self: center;
  justify-self: center;
  color: var(--accent-color);
  font-size: 1.2em;
}

.phone-app-checkbox-element-withicon > .checkbox {
  width: 2.5vh;
  height: 2.5vh;
  border: 0.3vh solid var(--font-color);
  border-radius: 0.7vh;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0vh;

  transition: 0.3s;
  padding-top: 0.08vh;
}

.phone-app-checkbox-element-withicon > .checkbox.checked {
  font-size: 1.8vh;
  transition: 0.3s;
  border-color: var(--accent-color);
  color: var(--font-color);
}

.phone-app-checkbox-element-withicon > .checkbox > i {
  font-weight: 800;
}

/* Hide the browser's default checkbox */
.checkbox-container {
  height: 100%;
  width: 100%;
}

.checkbox-container input {
  /* position: absolute; */
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  margin-top: 1.5vh;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 0.5vh;
  transition: 0.5s;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: var(--accent-colorh);
  transition: 0.5s;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: var(--accent-colorh);
  transition: 0.5s;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
  transition: 0.5s;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
  transition: 0.5s;
}

.container .checkmark:after {
  left: 9px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: 0.5s;
}

.phone-app-slideuppage {
  position: absolute;
  height: 92.7%;
  width: 100%;
  bottom: -94%;
  background-color: var(--bg-color);
  color: var(--font-color) !important;
  /* box-shadow: var(--box-shadow) 0px 2px 8px 0px; */
  z-index: 10;
  padding: 5%;
  padding-left: 5%;
  padding-right: 5%;
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
  cursor: grab !important;
  /* cursor: grabbing */
}

.slideup-header {
  width: 100%;
  height: 4.5vh;
  display: grid;
  grid-template-columns: 70% 15% 15%;
  white-space: nowrap;
}

.slideup-header > .singleheadline {
  align-self: center;
  align-self: flex-start;
  font-size: 3vh;
  white-space: nowrap;
  overflow: hidden;
}

.slideup-header > .sclose {
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 3vh;
  background-color: var(--darkelement-bg-color);
  color: var(--bg-color);
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;
  justify-self: end;
  align-self: flex-start;
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vh;
  transition: 0.5s;
}

.slideup-header > .sclose:hover {
  filter: brightness(1.2);
  transition: 0.5s;
}

.slideup-header > .ssubmit {
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 3vh;
  background-color: var(--green-color);
  color: var(--bg-color);
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;
  justify-self: end;
  align-self: flex-start;
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vh;
  transition: 0.5s;
}

.slideup-header > .ssubmit:hover {
  filter: brightness(1.2);
  transition: 0.5s;
}

.slideup-header > div > i {
  margin-top: 0.2vh;
}

.phone-app-slideuppage > .elements {
  width: 100%;
  height: 87%;
  overflow-y: auto;
}

.phone-app-slideuppage > .elements::-webkit-scrollbar {
  display: none;
}

.phone-app-slideuppage > .elements > p {
  font-family: 'Roboto';
  font-size: 1.5vh;
}

bold {
  font-family: 'RobotoMedium';
}

.workbreak {
  word-wrap: break-word !important;
  white-space: inherit !important;
}

.phone-app-hideelement {
  width: 100%;
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  background-color: var(--element-bg-color);
  color: var(--font-color);
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;
  border-radius: 1vh;
  padding: 1vh;
  align-items: center;
  transition: 0.5s;
  margin-bottom: 1vh;
}

.phone-app-hideelement > .hepreview {
  height: 3vh;
  width: 100%;
  font-size: 2vh;
  font-family: 'Roboto';
  text-align: left;
}

.phone-app-hideelement > .hid {
  height: 0vh;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  font-size: 1.75vh;
  font-family: 'Roboto';

  -webkit-user-select: text; /* Chrome 49+ */
  -moz-user-select: text; /* Firefox 43+ */
  -ms-user-select: text; /* No support yet */
  user-select: text; /* Likely future */
}

.phone-app-hideelementactiv > .hid {
}

.phone-app-hideelement > .hid > div > i {
  color: var(--accent-color);
}

.jobbgcolor {
  background-color: var(--policebgcolor);
}

.phone-app-pictureelement-select {
  width: 100%;
  height: 6vh;
  overflow: hidden;
  display: grid;
  border-radius: 1vh;

  grid-template-columns: 85% 15%;
  grid-template-rows: 100%;
  margin-bottom: 1vh;
}

.phone-app-pictureelement-select > .imagecontainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1vh;
  display: flex;
  align-content: center;
  justify-content: center;
}

.phone-app-pictureelement-select > .imagecontainer > .image {
  width: 100%;
  max-height: 200%;

  align-self: center;
  justify-self: center;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: crisp-edges;
}

.phone-app-pictureelement-select > .select {
  justify-self: center;
  align-self: center;
  font-size: 2.5vh;
  color: var(--red-color);
  transition: 0.5s;
}

.phone-app-pictureelement-select > .select:hover {
  color: var(--red-colorh);
  transition: 0.5s;
}

.phone-app-pictureelement {
  width: 100%;
  height: 6vh;
  overflow: hidden;
  display: grid;
  border-radius: 1vh;

  grid-template-columns: 100%;
  grid-template-rows: 100%;
  margin-bottom: 1vh;
}

.phone-app-pictureelement > .imagecontainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1vh;
  display: flex;
  align-content: center;
  justify-content: center;
}

.phone-app-pictureelement > .imagecontainer > .image {
  width: 100%;
  max-height: 200%;

  align-self: center;
  justify-self: center;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: crisp-edges;
}

.phone-app-2select-element {
  transition: 0.5s;

  align-items: center;

  font-size: 2vh;
  padding: 1vh;
  width: 100%;
  background-color: var(--element-bg-color);
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;
  border-radius: 1vh;
  color: var(--font-color);
  font-family: 'Roboto';
  font-weight: 400;

  display: grid;
  grid-template-columns: 70% 15% 15%;
  grid-template-rows: 100%;
  align-items: center;

  margin-bottom: 1vh;

  white-space: nowrap;
  overflow: hidden;
}

.phone-app-2select-element:hover {
  transition: 0.5s;
  background-color: var(--element-bg-colorh);
}

.phone-app-2select-element > i {
  text-align: center;
  font-size: 1.1em;
  color: var(--accent-color);
}

.phone-app-2select-element > input {
  background: none !important;
  outline: none;
  border: none;
}

.accent-color {
  background-color: var(--accent-color) !important;
  transition: 0.5s;
}

.accent-color:hover {
  background-color: var(--accent-colorh) !important;
  transition: 0.5s;
}

.accent-colorf {
  color: var(--accent-color) !important;
  transition: 0.5s;
}

.accent-colorf:hover {
  color: var(--accent-colorh) !important;
  transition: 0.5s;
}

.phone-app-iconcachelcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.phone-app-iconcolorcachel {
  width: 47.5%;
  height: 8vh;
  background-color: #809fb3;
  margin-right: 2.5%;
  margin-bottom: 1vh;
  border-radius: 1vh;

  display: flex;
  position: relative;

  overflow: hidden;
  transition: 0.5s;
}

.phone-app-iconcolorcachel:hover {
  filter: brightness(1.1);
  transition: 0.5s;
}

.phone-app-iconcolorcachel > .headline {
  position: absolute;
  left: 1vh;

  font-size: 2vh;
  color: white;

  align-self: center;
  justify-self: center;

  white-space: nowrap;
}

.phone-app-iconcolorcachel > img {
  position: absolute;
  right: 0vh;

  width: 8vh;
  height: 8vh;
  opacity: 0.1;
}

.phone-app-cachel {
  width: 47.5%;
  height: 8vh;

  background-color: var(--element-bg-color);
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;

  margin-right: 2.5%;
  margin-bottom: 1vh;
  border-radius: 1vh;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 47.5% 47.5%;
  grid-row-gap: 5%;
  overflow: hidden;
  transition: 0.5s;

  justify-items: center;
  align-items: flex-start;

  font-size: 1.5vh;
}

.phone-app-cachel > div:first-of-type {
  font-size: 2vh;
  align-self: flex-end;
}

.phone-app-cachel > div:last-child {
  font-size: 1.5vh;
}

.phone-app-imageelement-big {
  width: 100%;
  height: 16vh;

  background-color: var(--element-bg-color);
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;

  margin-bottom: 1vh;
  border-radius: 1vh;

  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 2.5vh;
}

.phone-app-imageelement-big > i {
  font-size: 5vh;
}

.phone-app-imageelement-big > div > i {
  font-size: 5vh;
}

.phone-app-imageelement-big > img {
  /* width: 100%; */
  height: 100%;
  background-size: cover;
}

.phone-app-bottomspace {
  width: 100%;
  height: 10%;
}

.accentcolor {
  color: var(--accent-color);
  transition: 0.5s;
}

.accentcolor:hover {
  color: var(--accent-colorh);
  transition: 0.5s;
}

.bgaccentcolor {
  background: var(--accent-color);
  color: white;
  transition: 0.5s;
}

.bgaccentcolor:hover {
  background: var(--accent-colorh);
  transition: 0.5s;
}

.yellowcolor {
  color: var(--yellow-color) !important;
}

.w-60 {
  width: 60%;
  margin-left: 20%;
}

.w-100 {
  width: 100%;
}

.phone-app-3selector {
  width: 100%;
  height: 4vh;
  display: flex;
  flex-direction: row;
  border-radius: 1vh;
  overflow: hidden;
}

.phone-app-3selector-element {
  background-color: var(--element-bg-color);
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.phone-app-3selector .activ {
  background-color: var(--element-bg-color2);
}

.phone-app-3selector .activAccentColor {
  background-color: var(--accent-color);
  color: var(--font-color);
}

.phone-app-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  font-size: 1.5vh !important;

  height: 5vh;
  background-color: var(--element-bg-color);
  border-radius: 1vh;
  transition: 0.5s;
}

.phone-app-icon-button:hover {
  background-color: var(--element-bg-colorh);
  transition: 0.5s;
}

.phone-app-divider {
  margin-left: 10%;
  width: 80%;
  height: 0.5vh;
  border-radius: 1vh;
  background-color: var(--element-bg-color);
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.elements2 {
  cursor: pointer;
}

.notifybody {
  /* background-color: blue !important; */
}

.insta-searchbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1vh;

  background: var(--element-bg-color);
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;
  border-radius: 1vh;
  height: 4vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  width: 100%;
  overflow: hidden;
  transition: 0.5s;
}

.insta-searchbar-stop {
  width: 35%;
  text-align: center;
}

.insta-searchbar i {
  color: var(--quote-color);
}

.insta-searchbar input {
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  font-family: 'Roboto';
  background: var(--element-bg-color);
  transition: 0.5s;
}

#insta-search-user-elements {
  width: 100%;
  height: 100%;
  padding-left: 1vh;
  padding-right: 1vh;
}

.insta-searchbar-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1vh;
  align-items: center;
  width: 100%;
  padding-right: 1vh;
  padding-left: 1vh;
  transition: 0.5s;
  margin-bottom: 1vh;
}
