/* #call-type {
    left: 0%!important;
} */
/* Call app */
.call-numberinput {
    width: 100%;
    margin-top: 1vh;
    height: 20%;
    /* background: rgb(197, 86, 86); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vh;
    flex-wrap: nowrap;
    flex-direction: column;
    white-space: nowrap;
}

.call-addtocontact {
    font-size: 1.5vh;
    color: var(--accent-color);
    font: "Roboto";
}

.call-addtocontact {
    display: none;
}

.call-addtocontact:hover {
    color: var(--accent-colorh);
    transition: 0.5s;
}

.call-inputs {
    padding-left: 2vh;
    padding-right: 2vh;
    width: 100%;
    min-width: 25vh;
    /* height: 0vh; */
    /* background: rgb(197, 86, 86); */
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5vh;
    justify-content: space-evenly;
    white-space: nowrap;
}

.call-input {
    width: 6vh;
    height: 6vh;
    border-radius: 5vh;
    background-color: var(--element-bg-color);
    box-shadow: var(--box-shadow) 0px 2px 8px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    transition: 0.5s;
}

.call-input:hover {
    background-color: var(--element-bg-colorh);

}

.call-input-clean {
    width: 6vh;
    height: 6vh;
    border-radius: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    transition: 0.5s;
}

.call-input-clean:hover {
    color: var(--accent-color);
    transition: 0.5s;
}

#call-callicon {
    grid-column: 2;
}

.transform-45 {
    transform: rotate(45deg);
}

.transform-135 {
    transform: rotate(135deg);
}

.transform-180 {
    transform: rotate(180deg);
}

.transform-225 {
    transform: rotate(225deg);
}

.transform-270 {
    transform: rotate(270deg);
}

.phone-recentcalls-element {
    transition: 0.5s;
   
    min-height: 5vh;
    line-height: 2.5vh;
    font-size: 2vh;
    padding: 1vh;
    width: 100%;
    background-color: var(--element-bg-color);
    box-shadow: var(--box-shadow) 0px 2px 8px 0px;
    border-radius: 1vh;
    color: var(--font-color);
    font-family: 'Roboto';
    font-weight: 400;

    display: grid;
    grid-template-columns: 15% 60% 25%;
    grid-template-rows: 100%;
    align-items: center;
    
    margin-bottom: 1vh;

    white-space: nowrap;
    overflow: hidden;
}

.phone-recentcalls-element:hover {
    transition: 0.5s;
    background-color: var(--element-bg-colorh);
}

.phone-recentcalls-element > .time {
    text-align: right;
    font-size: 1.5vh;
}

.phone-recentcalls-element > i {
    text-align: center;
    font-size: 1.1em;
    color: var(--accent-color);
}

/* Call */
.call-small-incomming {
    position: absolute;
    top: 5vh;
    left: 5%;
    width: 90%;
    height: 7vh;

    background-color: var(--elementcoloropacity);
    
    color: var(--font-color);

    border-radius: 2vh;
    z-index: 99;

    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.call-small-incomming > .name {
    width: 50%;
    font-size: 2vh;
    white-space: nowrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* background-color: aqua; */
}

.call-small-incomming > .roundedbutton {
    width: 4vh;
    height: 4vh;
    border-radius: 4vh;
    font-size: 1.75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#call-small-time {
    font-size: 1.5vh;
    font-weight: small;
    font-family: "Roboto";
    color: var(--grey-color);
}

.call-header-ongoing {
    position: absolute;
    top: 1.8vh;
    left: 2vh;
    border-radius: 1vh;
    width: 6.5vh;
    height: 2.5vh;
    background-color: aquamarine;
    z-index: 999;

    display: none;
    justify-content: center;
    align-items: center;
}

/* Call-type */
#call-type {
    /* left: 0%!important; */
}

#call-type-home {
    margin-right: 0%;
	grid-row: 2 / 4;
}

.call-type-home-name {
    width: 100%;
    height: 20vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 3vh;
    /* background-color: aquamarine; */
}

#call-type-home-time {
    font-size: 1.75vh;
    font-weight: small;
    font: "Roboto";
    color: var(--grey-color);
}

.call-type-home-actions {
    width: 100%;
    height: 20vh;


    /* background-color: rgb(206, 255, 127); */

    padding: 3vh;
}

#call-type-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vh;
    font-size: 3vh;
}

#call-type-actions > div {
    width: 5vh;
    height: 5vh;
    border-radius: 3vh;
    font-size: 2vh;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow) 0px 2px 8px 0px;
}

.call-type-home-callactions {
    width: 100%;
    height: 12vh;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 6vh;
    /* background-color: rgb(87, 108, 54); */
}

.call-type-home-callactions > div {
    width: 6vh;
    height: 6vh;
    border-radius: 3vh;
    font-size: 2vh;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow) 0px 2px 8px 0px;
    
}

.pulseanimation {
    transition: background-color .1s ease-in-out;
    animation: pulse 2s infinite;
}


/* Animation */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 12px rgba(var(--diff), 0.1);
        filter: brightness(1.2);
    }
    70% {

        box-shadow: 0 0 0 6px rgba(var(--diff), 0.05);
        filter: brightness(1.1);
    }
    100% {

        box-shadow: 0 0 0 0 rgba(var(--diff), 0);
        filter: brightness(1.0);
    }
}