/* #gallery {
    left: 0%!important;
} */

#gallery-home {
  margin-right: 0%;
  grid-column: 1/4;
  grid-row: 1/3;
}

/* #camera-new {
    bottom: 0;
} */

.galleryicon {
  color: rgb(69, 68, 55) !important;
}

.gallery-headline {
  top: 4vh;
  width: 100%;
  height: 4vh;
  padding-left: 2vh;
  padding-right: 2vh;

  position: absolute;
  font-family: 'RobotoMedium';
  font-size: 3.5vh;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  color: var(--font-color);
  z-index: 2;

  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100%;

  align-items: center;
}

.gallery-headline > .selectbutton {
  justify-self: center;
  height: 3vh;
  width: 7vh;
  background-color: var(--elementcoloropacity);
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;
  border-radius: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-size: 1.5vh;
  transition: 0.5s;
}

.gallery-element-grid {
  display: grid;
  min-height: 100%;

  align-content: flex-end;
  overflow-y: auto;
}

.gallery-elements {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: right;
  overflow: visible;
}

.gallery-element-grid2 {
  align-content: flex-start !important;
}

.gallery-elements2 {
  justify-content: left;
  flex-direction: row !important;
  flex-wrap: wrap !important;
}

.gallery-elements > div {
  position: relative;
  width: 32.75%;

  margin-right: 0.5%;
  height: 9vh;
  background-color: var(--element-bg-color);

  margin-bottom: 0.5%;
  /* border-radius: 0.5vh; */
  overflow: hidden;

  display: flex;
  /* box-shadow: var(--box-shadow) 0px 2px 8px 0px; */
}

.gallery-elements > div > img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-self: center;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: crisp-edges;
}

.gallery-elements > div > .checked {
  position: absolute;
  bottom: 0.5vh;
  right: 0.5vh;
  display: none;
  background-color: white;
  border: 0.3vh solid white;
  font-size: 2vh;
  text-align: center;
  border-radius: 5vh;
  overflow: hidden;
  color: rgb(53, 127, 245);
  text-align: center;
}

.checkedbg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(148, 194, 225, 0.5);
  /* transition: 0.5s; */
  display: none;
}

.gallery-emptyspace {
  position: relative;
  width: 100%;

  margin-right: 1%;
  height: 9vh;
  /* background-color: aqua; */

  margin-bottom: 1%;
  /* border-radius: 0.5vh; */
  overflow: hidden;
  /* box-shadow: var(--box-shadow) 0px 2px 8px 0px; */
}

.phone-app-slideuppage > .elements > .image {
  width: 100%;
  height: 40%;

  border-radius: 2vh;
  overflow: hidden;
  background-color: var(--element-bg-color);
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vh;
}
.phone-app-slideuppage > .elements > .image > img {
  width: auto;
  height: 101%;
  background-size: contain;
}

/* #share-messages {
    bottom: 0vh;
} */
