@font-face {
  font-family: Montserrat-Regular;
  src: url('fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Light;
  src: url('fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
  font-family: Montserrat-Black;
  src: url('fonts/Montserrat/Montserrat-Black.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('fonts/Montserrat/Montserrat-Bold.ttf');
}

body {
  font-family: 'RobotoMedium';
  font-weight: 500;
  background-color: transparent !important;
  /* change to TRANSPARENT */
  overflow: hidden;
  /* background-color: grey!important; */
}

.hide {
  display: none;
}

.container {
  position: absolute;
  display: none;
  bottom: 0%;

  /* bottom: 0%; */
  right: 0vh;
  background-color: transparent !important;
  /* change to TRANSPARENT */
  font-family: 'RobotoMedium';
  font-weight: 500;
  transform: scale(1); /*  1,11 1,29 */
  transform-style: inherit;
  transform-origin: bottom right; /* Set the transform origin to bottom right */
  transition: 0.5s;
  /* overflow: hidden; */
}

.phone-frame {
  position: absolute;
  width: 30vh;
  bottom: 0;
  right: 0;
  margin: 5vh;
  z-index: 150;
  pointer-events: none;
  overflow: hidden;
}

.phone-container {
  height: 61.7vh;
  width: 28vh;
  bottom: 1vh;
  border-radius: 5vh !important;

  right: 1vh;
  margin: 5vh;
  overflow: hidden;
  position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* iphone */
/* .phone-container {
    height: 61.7vh;
    width: 29vh;
    bottom: 1vh;
    border-radius: 4vh;
    right: 0.5vh;
    margin: 5vh;
    overflow: hidden;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
} 
*/

.phone-background {
  background-image: url('https://github.com/DeunService/dphoneAssets/blob/main/freeEdition.png?raw=true');
  /* background-image: url('https://github.com/DeunService/dphoneAssets/blob/main/freeEdition.png?raw=true'); */
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
}

.darkphone-background {
  background-image: url('https://github.com/DeunService/dphoneAssets/blob/main/freeEdition.png?raw=true');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Phone Header */

.phone-header {
  width: 100%;
  height: 5vh;
  z-index: 141;
  position: absolute;
  color: var(--header-color) !important;

  display: grid;
  /* Samsung */
  /* grid-template-columns: 5% 25% 20% 10% 12.5% 5%; */
  /* Iphone */
  grid-template-columns: 5% 25% 40% 10% 12.5% 5%;

  padding-top: 1.5vh;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
}

#phone-time {
  font-size: 1.5vh;
  font-family: 'Roboto';
  grid-column: 2;
  position: relative;
  padding: 0vh !important;
}

#phone-icons {
  font-size: 0.95vh;
  padding: 2vh 3vh 0 0vh;
  float: right;
}

#phone-flightmode {
  font-size: 1.5vh;
  left: -0.3vh;
  position: relative;
  display: none;
}

#phone-mute {
  font-size: 1.5vh;
  left: -0.5vh;
  position: relative;
  display: none;
}

#phone-signal {
  font-size: 1.5vh;
}

#phone-battery {
  transform: rotate(0deg);
  top: 0vh;
  position: relative;
  font-size: 2vh;
  color: rgb(157, 230, 157);
}

/* Home Applications */

.phone-applications {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}

/* .phone-application {
    position: relative;
    height: 6.6vh;
    width: 4.6vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4.6vh 2vh;
    grid-row-gap: 0.75vh;
    left: 1vh;
    float: left;
    margin-left: 1.75vh;
    margin-bottom: 1vh;
    text-align: center;

    opacity: 0.91;
    transition: .05s;

    justify-content: center;
    align-items: center;
} */

.phone-application {
  position: relative;
  height: 6.6vh;
  width: 4.6vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 4.6vh 2vh;
  grid-row-gap: 0.75vh;
  /* left: 1vh; */
  float: left;
  /* margin-left: 1.75vh; */
  /* margin-bottom: 1vh; */
  text-align: center;

  opacity: 0.91;
  transition: 0.05s;

  justify-content: center;
  align-items: center;
  /* backdrop-filter: blur(10px); */
  /* overflow: hidden; */
}

.phone-application > i {
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;
  border-radius: 1.2vh;
  /* font-size: 3vh; */
}

.phone-application:hover {
  opacity: 1;
  transition: 0.5s;
  filter: brightness(1.1);
}

.phone-application > .alerts {
  background-color: rgb(248, 71, 71);
  position: absolute;
  right: -1vh;
  top: -1vh;
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 1vh;
  z-index: 3;

  display: grid;
  justify-items: center;
  align-items: center;
  font-family: 'Roboto';
  font-weight: 400;
  color: white;
  font-size: 1.25vh;
}

.phone-application > img {
  width: 100%;
  height: 100%;
  background-size: contain;
  overflow: hidden;
  border-radius: 1.2vh;
}

.phone-application > p {
  font-size: 1.2vh;
  font-family: 'Roboto';
  justify-self: center;
  align-self: center;
  color: white;
  white-space: nowrap;
}

.phone-footer-applications {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  height: 6.6vh;
  bottom: 2vh;
  left: 5%;
  border-radius: 2vh;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: var(--box-shadow) 0px 2px 8px 0px;
}

.darkphone-footer-applications {
  background-color: rgba(14, 14, 14, 0.5);
}

.phone-home-applications {
  position: absolute;
  width: 90%;
  margin-left: 5%;
  top: 7vh;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-row-gap: 1vh;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}

.phone-application > i {
  line-height: 4.6vh;
  font-size: 2.5vh;
}

.ApplicationIcon {
  color: white;
}

#dmarketicon {
  /* display: none; */
}

/* Home Applications END */

.phone-background-blur {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 28.9vh;
  height: 620vh;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255);
}

.phone-homebar {
  position: absolute;
  top: 95.5%;
  width: 50%;
  left: 25%;
  height: 3%;
  display: none;
  z-index: 15;
  /* background-color: rgb(42, 107, 164); */
  background: none !important;
}

.phone-homebar > .inner {
  position: absolute;

  background-color: var(--font-color);
  border-radius: 3vh;
  height: 30%;
  width: 80%;
  left: 10%;
  top: 35%;
}

.darkphone-homebar {
  background-color: var(--font-color);
}

.phone-homebar:hover > .inner {
  background-color: var(--accent-color);
  transition: 0.5s;
}

.phone-underheadline {
  position: relative;
  font-size: 2vh;
  width: 90%;
  height: 4vh;
  text-align: left;
  line-height: 4vh;
  margin-left: 5%;
}

.phone-underheadline > i {
  color: var(--accent-color);
}

.phone-underheadline > i:hover {
  color: rgb(57, 59, 192);
  transition: 0.5s;
}

.backiconcolor {
  color: var(--accent-color);
}

.backiconcolor:hover {
  color: rgb(57, 59, 192);
  transition: 0.5s;
}

.black {
  background-color: #000000 !important;
}

.phone-h2 {
  position: relative;
  font-size: 2vh;
  width: 90%;
  height: 4vh;
  text-align: left;
  line-height: 4vh;
  margin-left: 5%;
}

.phone-input {
  background-color: rgba(240, 240, 240);
  width: 90%;
  margin-left: 5%;
  height: 5vh;
  padding: 1vh;
  font-size: 1.75vh;
  outline: none;
  border: none;
  border-radius: 1vh;
}

.darkphone-input {
  background-color: rgb(30, 30, 30);
}

.phone-button {
  background-color: var(--accent-color);
  width: 90%;
  margin-left: 5%;
  height: 5vh;
  font-size: 2vh;
  padding: 1vh;
  outline: none;
  border: none;
  border-radius: 1vh;
  color: white;
}

.phone-button:hover {
  background-color: rgb(57, 59, 192);
  transition: 0.5s;
}

.phone-emptyspace-1 {
  width: 100%;
  height: 1vh;
}

.phone-emptyspace-2 {
  width: 100%;
  height: 2vh;
}

.phone-emptyspace-3 {
  width: 100%;
  height: 3vh;
}

.deletecolor {
  color: rgb(187, 19, 19);
}

.deletecolor:hover {
  color: rgb(172, 16, 16);
  transition: 0.5s;
}
/* 
.phone-app-header {
    position: relative;
    display: flex;
    font-size: 2.5vh;
    top: 4%;
    width: 90%;
    height: 5vh;
    text-align: left;
    line-height: 5vh;
    margin: 0% 5% 6% 5%;
    box-shadow: none!important;
}

.phone-app-header h2 {
    font-family: 'Samsung Sans regular';
    font-size: 2.5vh;
    font-weight: 500;
    margin-right: 1vh;
} */

#headerback {
  display: none;
  font-size: 2.3vh;
  color: var(--accent-color);
}

#headerback:hover {
  transition: 0.5s;
  color: var(--accent-colorh);
}

.whitecolor {
  color: white;
}

.purplecolor {
  color: var(--accent-color);
}

.purplecolor:hover {
  color: var(--accent-colorh);
}

.purple {
  background-color: var(--accent-color);
  color: white;
}

.purple:hover {
  background-color: var(--accent-colorh);
  transition: 0.5s;
}

.redcolorhover {
  color: rgb(172, 20, 20) !important;
}

.border-none {
  border: none !important;
}

.show {
  display: block !important;
  z-index: 99;
}

.battery {
  border: 2px solid var(--header-color);
  width: 2.5vh;
  height: 1.5vh;
  padding: 0.1vh;
  padding-right: 0.2vh;
  border-radius: 4px;
  position: relative;
  /* margin: 15px 0; */
}

.battery:before {
  content: '';
  height: 0.7vh;
  width: 0.3vh;
  background: var(--header-color);
  display: block;
  position: absolute;
  right: -0.5vh;
  top: 0.21vh;
  border-radius: 1vh;
}

.battery-level {
  background: var(--green-color);
  height: 100%;
  width: 100%;
  border-radius: 2px;
}

.battery .warn {
  background: var(--yellow-color);
}

.battery .empty {
  background: var(--red-color);
}
