#settings {
  /* left: 0%!important; */
}

#settings-home {
  margin-right: 0%;
  /* grid-column: 2/3; */
  grid-row: 2/4;
}

#viewbackground,
#viewcase,
#viewringtone,
#viewcustomringtone {
  font-size: 1em;
  color: var(--beige-color);
  transition: 0.5s;
}

#viewbackground,
#viewcase,
#viewringtone,
#viewcustomringtone:hover {
  color: var(--beige-colorh);
  transition: 0.5s;
}

#setbackground,
#setcase,
#setringtone,
#customringtone {
  font-size: 1.2em;
  transition: 0.5s;
  color: var(--green-color);
}

#setbackground,
#setcase,
#setringtone,
#customringtone:hover {
  color: var(--green-colorh);
  transition: 0.5s;
}

.wallpaperpreviewclose {
  position: absolute;
  display: none;
  left: 0vh;
  top: 0vh;
  width: 30vh;
  height: 100vh;
  line-height: 100vh;
  font-size: 10vh;
  text-align: center;
  color: rgba(255, 75, 75, 0);
}

.wallpaperpreviewclose:hover {
  color: rgb(255, 75, 75);
  transition: 1s;
}

.wallpaperpreviewcloseicon {
  position: absolute;
  left: 5vh;
  top: 26vh;
  width: 20vh;
  height: 100vh;
  line-height: 100vh;
  font-size: 10vh;
  text-align: center;
}

.wallpaperpreviewcloseicon:hover {
  color: rgb(185, 51, 51);
  transition: 0.5s;
}
