html[data-theme="whitemechanic"]  {
    --bg-color: #ebebeb;
    --element-bg-color: #f7fafc;

    --element-bg-color2: #FFFFFF;
    --element-bg-colorh: #e5edf2;
    --elementcoloropacity : rgba(255, 255, 255, 0.9);
    --darkelement-bg-color: rgb(33, 33, 33);
    --darkelement-bg-colorh:rgb(50, 50, 50);
    --font-color: #000000;
    
    --notification-bg: rgba(255, 255, 255, 0.8);

    --accent-color: #0f2b86;
    --accent-colorh: #12339f;
    --me-color: #badaff;
    --me-colorh: #a2bfe0;
    --new-color: #fffadd;
    --new-colorh: #f6eebd;

    --quote-color: #1a1a1a;
    --yellow-color: #efda3e;
    --yellow-colorh: #dbc839;
    --red-color: #bb3838;
    --red-colorh: #a43030;
    --green-color: #3ca84e;
    --green-colorh: #45ba59;

    --box-shadow: rgba(99, 99, 99, 0.2);

    --info: rgb(85, 113, 215);
    --error: rgb(218, 65, 65);
    --warning: rgb(255, 151, 40);
    --success: rgb(98, 160, 103);
    --radio: rgb(20, 58, 130);
    --broker: rgb(29, 29, 29);
    --groupchat: #e4da7c;

    --policebgcolor: #ffcdcd;
    --ambulancebgcolor: #e9f3ff;

  }

  html[data-theme="darkmechanic"]  {
    --bg-color: #000206;
    --element-bg-color: #222528;
    --element-bg-color2: #191919;
    --element-bg-colorh: #33363b;
    --elementcoloropacity : rgba(25, 25, 25, 0.9);
    --darkelement-bg-color: rgb(241, 241, 241);
    --darkelement-bg-colorh: rgb(228, 228, 228);
    --font-color: #F2F2F2;
    
    --notification-bg: rgba(0, 0, 0, 0.8);

    
    --accent-color: #5f84ff;
    --accent-colorh: #5a7ced;
    --me-color: #3f4576;
    --me-colorh: #445b79;
    --new-color: #dbcb6e;
    --new-colorh: #c0b160;

    --quote-color: #1a1a1a;
    --yellow-color: #ede07b;
    --yellow-colorh: #d9cd77;
    --red-color: #d75959;
    --red-colorh: #c15050;
    --green-color: #6add7d;
    --green-colorh: #5cbd6c;

    --box-shadow: rgba(0, 0, 0, 0.2);

    --info: rgb(174, 190, 246);
    --error: rgb(245, 120, 120);
    --warning: rgb(250, 178, 100);
    --success: rgb(131, 199, 163);
    --radio: rgb(114, 160, 245);
    --broker: rgb(236, 236, 236);
    --groupchat: #fff597;

    --policebgcolor: #060709;

  }